<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" 
	</head>
	
	<body>
	
		<form action=<%= url %> enctype="multipart/form-data" method="post">	
        <input type="hidden" name="job_id" value=<%= job_id %>> <br>
		<input type="submit"  value=<%= buttonText %> />
		</form>
		
		
	</body>
</html>
